<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airline Staff</title>
    Welcome, {{ g.user['first_name'] }}
    <br>
</head>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <center>
        <div class="flash" style="color:red;font-size: 30px;">{{ message }}</div>
    </center>
    {% endfor %} {% block content %}{% endblock %}
</section>
<body>
    <hr>
    <h1>Add an airplane</h1>
    <br><br>
    <label for="airline_name">Airline Name</label>
    <input id="airline_name" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >
    <label for="plane_id">Plane ID</label>
    <input id="plane_id" required="required" pattern="[A-Za-z0-9]{1,20}" type="number">
    <br><br>
    <label for="seat_amount">Seat Amount</label>
    <input id="seat_amount" required="required" pattern="[A-Za-z0-9]{1,20}" type="number">
    <br><br>
    <button onclick=add_airline()>Click to add the airplane</button>
    <br><br>

{#    {% with messages = get_flashed_messages(category_filter=["add_status"]) %}#}
{#        {% if messages %}#}
{#            {% for category, message in messages %}#}
{#                <div class="alert {{ category }}"> {{ message|capitalize }} </div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    {% endwith %}#}
    <hr>
    <h1>Add an airport</h1>
    <br><br>
    <form method="post" action="{{ url_for('airline_staff.add_airport') }}">
        <label for="airport_name">Airport Name</label>
        <input id="airport_name" name="airport_name" type="text" required>
        <label for="city">City</label>
        <input id="city" name="city" type="text" required>
        <br>
        <input type="submit" value="Click to add the airport">
        <br>
    </form>
    <br><br>
    <hr>
    <h1>View Flights</h1>
    <label for="airline_name1">Airline Name</label>
    <input id="airline_name1" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >
    <label for="from_date1" >From</label>
    <input id="from_date1" type="date">
    <label for="to_date1">To</label>
    <input id="to_date1" type="date">
    <br><br>
    <label for="depart_airport1">Depart Airport</label>
    <input id="depart_airport1" type="text" >
    <label for="depart_city1">Depart City</label>
    <input id="depart_city1" type="text">
    <br><br>
    <label for="arrive_airport1">Arrive Airport</label>
    <input id="arrive_airport1" type="text">
    <label for="arrive_city1">Arrive City</label>
    <input id="arrive_city1" type="text">
    <br>
    <br>
    <button onclick=view_flights()>Click to view flights</button>
    <hr>
    <h1>Check flight status</h1>
    <form method="post" action="{{ url_for('airline_staff.check_status') }}">
        <label for="airline_name_check">Airline Name</label>
        <input id="airline_name_check" name="airline_name" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >
        <label for="flight_number_check">Flight Number</label>
        <input id="flight_number_check" name="flight_number" type="text" required>
        <label for="depart_date_time_check">Departure Time</label>
        <input id="depart_date_time_check" name="depart_date_time" type="datetime-local" required>
        <br>
        <input type="submit" value="Click to check status">
        <br>
        <h2>Status: {{ value }}</h2>>
    </form>
    <hr>
    <h1>Change Status of a Flight</h1>>
    <form method="post" action="{{ url_for('airline_staff.update_status') }}">
        <label for="airline_name_status">Airline Name</label>
        <input id="airline_name_status" name="airline_name_status" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >
        <label for="flight_number_status">Flight Number</label>
        <input id="flight_number_status" name="flight_number_status" type="text" required>
        <label for="depart_date_time_status">Departure Time</label>
        <input id="depart_date_time_status" name="depart_date_time_status" type="datetime-local" required>
        <label for="delay_status">Delay Status</label>
        <select id="delay_status" name="delay_status">
            <option value="delayed">delayed</option>
            <option value="on-time">on-time</option>
        </select>
        <br>
        <input type="submit" value="Click to change status">
        <br><br>
    </form>
    <hr>
    <h1>Add a Flight</h1>>
    <form method="post" action="{{ url_for('airline_staff.add_flight') }}">
        <label for="airline_name_flight">Airline Name</label>
        <input id="airline_name_flight" name="airline_name_flight" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >

        <label for="plane_id_flight">Plane ID</label>
        <input id="plane_id_flight" name="plane_id_flight" type="number" required>

        <label for="flight_number_flight">Flight Number</label>
        <input id="flight_number_flight" name="flight_number_flight" type="text" required>

        <label for="depart_date_time_flight">Departure Time</label>
        <input id="depart_date_time_flight" name="depart_date_time_flight" type="datetime-local" required>

        <label for="arrive_date_time_flight">Arrive Time</label>
        <input id="arrive_date_time_flight" name="arrive_date_time_flight" type="datetime-local" required>

        <label for="departure_airport_flight">Departure Airport</label>
        <input id="departure_airport_flight" name="departure_airport_flight" type="text" required>

        <label for="arrive_airport_flight">Arrive Airport</label>
        <input id="arrive_airport_flight" name="arrive_airport_flight" type="text" required>

        <label for="base_price_flight">Base Price</label>
        <input id="base_price_flight" name="base_price_flight" type="number" required>

        <label for="flight_status_flight">Delay Status</label>
        <select id="flight_status_flight" name="flight_status_flight" required>
            <option value="departured">departured</option>
            <option value="undepartured">undepartured</option>
            <option value="arrived">arrived</option>
        </select>

        <label for="delay_status_flight">Delay Status</label>
        <select id="delay_status_flight" name="delay_status_flight" required>
            <option value="delayed">delayed</option>
            <option value="on_time">on-time</option>
        </select>
        <br>
        <input type="submit" value="Click to add the flight">
    </form>
    <hr>
    <h1>View Ratings</h1>
    <form method="post" action="{{ url_for('airline_staff.view_ratings') }}">
        <label for="airline_name_flight">Airline Name</label>
        <input id="airline_name_flight" name="airline_name_flight" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >

        <label for="airline_name2">Airline Name</label>
        <input id="airline_name2" name = "airline_name" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >
        <label for="flight_number2" >Flight Number</label>
        <input id="flight_number2" name = "flight_number" type="text" required>
        <br>
        <label for="depart_date_time2">Departure Time</label>
        <input id="depart_date_time2" name = "depart_date_time" type="datetime-local" required>
        <br>
        <input type="submit" value="Click to view ratings">
    </form>
    <br>
    <hr>
    <h1>View Most Frequent Customer</h1>
    <form method="post" action="{{ url_for('airline_staff.view_cust') }}">
        <label for="airline_name3">Airline Name</label>
        <input id="airline_name_3" name="airline_name" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >
        <label for="cust_email3">Customer E-mail</label>
        <input id="cust_email3" name="cust_email" type="text" >
        <br>
        <input type="submit" value="Click to view the most frequent customer in your airline">
        <br>
    </form>

    <hr>
    <h1>View Agents</h1>
    <button onclick="location.href='{{ url_for('airline_staff.view_agents') }}';">Click to view booking agents</button>
    <hr>
    <h1>View Top 3 Destinations</h1>
    <button onclick="location.href='{{ url_for('airline_staff.top_dest') }}';">Click to view top 3 destinations</button>
    <h2>Last 3 months: {{ value1 }}</h2>
    <br>
    <h2>Last year: {{ value2 }}</h2>>
    <hr>
    <h1>View Reports</h1>
    <label for="airline_name4">Airline Name</label>
    <form method="post" action="{{ url_for('airline_staff.view_cust') }}">
        <input id="airline_name_4" name="airline_name" type="text" value= "{{ g.user['airline_name'] }}" readonly="true" >
        <label for="cust_email4">Customer E-mail</label>
        <input id="cust_email4" name="cust_email" type="text" >
        <input type="submit" value="Click to view the report in your airline">
        <br>
    </form>
    <hr>
    <br>
    <button onclick="location.href='{{ url_for('auth.logout') }}';">Logout</button>




</body>
</html>
<script>
    function add_airline(){
        const plane_id = document.getElementById("plane_id").value;
        const airline_name = document.getElementById("airline_name").value;
        const seat_amount = document.getElementById("seat_amount").value;

        location.href='{{ url_for('airline_staff.add_airplane') }}?airline_name=' + airline_name
        + "&plane_id=" + plane_id
        + "&seat_amount=" + seat_amount;
    }
    function view_flights(){
        const airline_name = document.getElementById("airline_name").value;
        const from_date = document.getElementById("from_date1").value;
        const to_date = document.getElementById("to_date1").value;
        const depart_airport = document.getElementById("depart_airport1").value;
        const depart_city = document.getElementById("depart_city1").value;
        const arrive_airport = document.getElementById("arrive_airport1").value;
        const arrive_city = document.getElementById("arrive_city1").value;

        location.href='{{ url_for('airline_staff.view_flights') }}?airline_name=' + airline_name
        + "&from_date=" + from_date
        + "&to_date=" + to_date
        + "&depart_airport=" + depart_airport
        + "&depart_city=" + depart_city
        + "&arrive_airport=" + arrive_airport
        + "&arrive_city=" + arrive_city;
    }



</script>