<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <h1>Welcome, {{g.user['name']}}</h1>
    <!--search for ticket first-->
    <label for="time">Time</label>
    <input id="time" type="date" required>
    <hr>
    <label for="departure_city">Departure City</label>
    <input id="departure_city" required>
    <label for="departure_airport">Departure Airport</label>
    <input id="departure_airport" required>
    <hr>
    <label for="destination_city">Destination City</label>
    <input id="destination_city" required>
    <label for="destination_airport">Destination Airport</label>
    <input id="destination_airport" required>
    <hr>
    <button onclick="search()">Search</button>
    <hr>
    <table border="1">
      <tr>
        <th>Search Result</th>
      </tr>
      <tr>
          <th>Flight Number</th>
          <th>Airline</th>
          <th>Departure Time</th>
          <th>Departure Airport</th>
          <th>Departure City</th>
          <th>Arrive Time</th>
          <th>Arrive Airport</th>
          <th>Arrive City</th>
          <th>Flight Status</th>
          <th>Purchase</th>th>
      </tr>
        {% if flights %}
        {% for f in flights %}
        <tr>
            <th>{{ f['flight_number'] }}</th>
            <th>{{ f['airline_name'] }}</th>
            <th>{{ f['depart_date_time'] }}</th>
            <th>{{ f['depart_airport'] }}</th>
            <th>{{ f['departure_city'] }}</th>
            <th>{{ f['arrive_date_time'] }}</th>
            <th>{{ f['arrive_airport'] }}</th>
            <th>{{ f['arrive_city'] }}</th>
            <th>{{ f['flight_status'] }}</th>
            <td><button onclick="search()">Purchase</button></td>

        </tr>
        {% endfor %}
        {% endif %}

    </table>
</body>
</html>

<script>
    function search(){
        const time = document.getElementById("time").value;
        const departure_city = document.getElementById('departure_city').value;
        const departure_airport = document.getElementById('departure_airport').value;
        const destination_city = document.getElementById('destination_city').value;
        const destination_airport = document.getElementById('destination_airport').value;

        $.ajax({
            type: 'POST',
            contentType: 'application/json;charset-utf-08',
            dateType: 'json',
            url: "http://127.0.0.1:5000/customer/customer_page?time=" + time
            + "departure_city=" + departure_city
            + "departure_airport=" + departure_airport
            + "destination_city=" + destination_city
            + "destination_airport=" + destination_airport
        });
    }
</script>