<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchased Tickets</title>
</head>
<body>
    <table border="1">
      <tr>
          <th>Ticket ID</th>
          <th>Customer</th>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departure Time</th>
          <th>Departure Airport</th>
          <th>Departure City</th>
          <th>Arrive Time</th>
          <th>Arrive Airport</th>
          <th>Arrive City</th>
          <th>Delay Status</th>
      </tr>
        {% for f in my_purchase %}
            <tr>
                <th>{{ f['ticket_id'] }}</th>
                <th>{{ f['cust_email'] }}</th>
                <th>{{ f['flight_number'] }}</th>
                <th>{{ f['airline_name'] }}</th>
                <th>{{ f['depart_date_time'] }}</th>
                <th>{{ f['depart_airport'] }}</th>
                <th>{{ f['depart_city'] }}</th>
                <th>{{ f['arrive_date_time'] }}</th>
                <th>{{ f['arrive_airport'] }}</th>
                <th>{{ f['arrive_city'] }}</th>
                <th>{{ f['delay_status'] }}</th>
            </tr>
        {% endfor %}
    </table>

</body>
</html>