<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Your commission details from {{ from_date }} to {{ to_date }}</h1>
    <table border="1">
      <tr>
          <th>Total Commission</th>
          <th>Total Tickets</th>
          <th>Commission Per Ticket</th>
      </tr>
        <tr>
          <th>{{ total_commission['total_commission'] }}</th>
          <th>{{ num_of_ticket['num'] }}</th>
          <th>{{ average_commission['avg_commission'] }}</th>
      </tr>
    </table>
    <br>
    <button onclick="location.href='{{ url_for('booking_agent.home') }}';">Back</button>
</body>
</html>