<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>

    <title>User Register</title>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
{#                <div class="row">#}
{#                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>#}
                <center>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="post">

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-1">
                                        <select class="custom-select" name="register_type" id="register_type" onchange="change_type(this.options[this.selectedIndex].value)">
                                            <option value="airline_staff">I am an airline_staff</option>
                                            <option value="booking_agent">I am a booking_agent</option>
                                            <option value="customer" selected>I am a customer</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="email" name="email" placeholder="Email" required>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="repeat_password" name="repeat_password" placeholder="Repeat Password" required>
                                    </div>
                                </div>
                                <label id="personal_info_title">Personal Information</label>

                                <div class="form-group row" id="name">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="LastName" name="last_name" placeholder="Last Name" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="FirstName" name="first_name" placeholder="First Name" required>
                                    </div>
                                </div>

                                <div class="form-group" id="birthday_class">
                                    <input type="text" class="form-control form-control-user" id="airline_name" name="airline_name" placeholder="Airline Name" required hidden disabled>
                                </div>

                                <div class="form-group" id="birthday_class">
                                    <input type="date" class="form-control form-control-user" id="birthday" name="birthday" placeholder="Birthday" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="phone_number" name="phone_number" placeholder="Phone Number" required>
                                </div>

                                <div class="form-group row" id="state_city">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="state" name="state" placeholder="State">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="city" name="city" placeholder="City">
                                    </div>
                                </div>

                                <div class="form-group row" id="street_building">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="street" name="street" placeholder="Street">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="building_name" name="building_name" placeholder="Building Name">
                                    </div>
                                </div>

                                <div class="form-group" id="passport_title">
                                    <label>Passport Information</label>
                                    <input type="number" class="form-control form-control-user" id="passport_number" name="passport_number" placeholder="Passport Number">
                                </div>

                                <div class="form-group row" id="passport_info">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label>Expiration Date</label>
                                        <input type="date" class="form-control form-control-user" id="passport_expiration" name="passport_expiration">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Passport Country</label>
                                        <input type="text" class="form-control form-control-user" id="passport_country" name="passport_country">
                                    </div>
                                </div>

                                <input type='submit' value='Register' class="btn btn-primary btn-user btn-block">
                                <hr>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/forgot-password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/auth/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                    </center>
                </div>

            </div>
        </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

</body>


<script>
    // function change_gender(value) {
    //     document.getElementById("gender").value = value
    // }
    function change_type(value) {
        if (value === "airline_staff"){
            console.log("airline_staff");
            hide_show_airline_staff(false);
        }
        else if (value === "booking_agent"){
            console.log("booking_agent");
            hide_show_booking_agent(false)
        }
        else if (value === 'customer'){
            console.log("customer");
            hide_show_customer(false);
        }
    }

    function hide_show_customer(state){
        console.log(state);
        document.getElementById("airline_name").hidden = !state;
        document.getElementById("airline_name").disabled = !state;
        document.getElementById("email").hidden = state;
        document.getElementById("email").disabled = state;
        document.getElementById("LastName").hidden = state;
        document.getElementById("LastName").disabled = state;
        document.getElementById("FirstName").hidden = state;
        document.getElementById("FirstName").disabled = state;
        document.getElementById("state_city").hidden = state;
        document.getElementById("state_city").disabled = state;
        document.getElementById("street_building").hidden = state;
        document.getElementById("street_building").disabled = state;
        document.getElementById("phone_number").hidden = state;
        document.getElementById("phone_number").disabled = state;
        document.getElementById("passport_title").hidden = state;
        document.getElementById("passport_title").disabled = state;
        document.getElementById("passport_info").hidden = state;
        document.getElementById("passport_info").disabled = state;
        document.getElementById("birthday").hidden = state;
        document.getElementById("birthday").disabled = state;
        document.getElementById("personal_info_title").hidden = state;


    }

    function hide_show_booking_agent(state){
        document.getElementById("airline_name").hidden = !state;
        document.getElementById("airline_name").disabled = !state;
        document.getElementById("email").hidden = state;
        document.getElementById("email").disabled = state;
        document.getElementById("LastName").hidden = !state;
        document.getElementById("LastName").disabled = !state;
        document.getElementById("FirstName").hidden = !state;
        document.getElementById("FirstName").disabled = !state;
        document.getElementById("state_city").hidden = !state;
        document.getElementById("state_city").disabled = !state;
        document.getElementById("street_building").hidden = !state;
        document.getElementById("street_building").disabled = !state;
        document.getElementById("phone_number").hidden = !state;
        document.getElementById("phone_number").disabled = !state;
        document.getElementById("passport_title").hidden = !state;
        document.getElementById("passport_title").disabled = !state;
        document.getElementById("passport_info").hidden = !state;
        document.getElementById("passport_info").disabled = !state;
        document.getElementById("birthday").hidden = !state;
        document.getElementById("birthday").disabled = !state;
        document.getElementById("personal_info_title").hidden = !state;
    }

    function hide_show_airline_staff(state){
        document.getElementById("airline_name").hidden = state;
        document.getElementById("airline_name").disabled = state;
        document.getElementById("email").hidden = state;
        document.getElementById("email").disabled = state;
        document.getElementById("LastName").hidden = state;
        document.getElementById("LastName").disabled = state;
        document.getElementById("FirstName").hidden = state;
        document.getElementById("FirstName").disabled = state;
        document.getElementById("state_city").hidden = !state;
        document.getElementById("state_city").disabled = !state;
        document.getElementById("street_building").hidden = !state;
        document.getElementById("street_building").disabled = !state;
        document.getElementById("phone_number").hidden = state;
        document.getElementById("phone_number").disabled = state;
        document.getElementById("passport_title").hidden = !state;
        document.getElementById("passport_title").disabled = !state;
        document.getElementById("passport_info").hidden = !state;
        document.getElementById("passport_info").disabled = !state;
        document.getElementById("birthday").hidden = state;
        document.getElementById("birthday").disabled = state;
        document.getElementById("personal_info_title").hidden = state;
    }
</script>

</html>
{% endblock %}
