<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for Tickets</title>
</head>
<body>
    <label for="time">Time</label>
    <input id="time" name="time" type="date" required>
    <hr>
    <label for="departure_city">Departure City</label>
    <input id="departure_city" name="departure_city" required>
    <label for="departure_airport">Departure Airport</label>
    <input id="departure_airport" name="departure_airport" required>
    <hr>
    <label for="destination_city">Destination City</label>
    <input id="destination_city" name="destination_city" required>
    <label for="destination_airport">Destination Airport</label>
    <input id="destination_airport" name="destination_airport" required>
    <hr>
    <button onclick="search()">Search</button>
    <p>If you are considering a round trip</p>
    <label for="time">Time</label>
    <input id="time" name="time" type="date" required>

</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    function search(){
        const time = document.getElementById("time").value;
        const departure_city = document.getElementById('departure_city').value;
        const departure_airport = document.getElementById('departure_airport').value;
        const destination_city = document.getElementById('destination_city').value;
        const destination_airport = document.getElementById('destination_airport').value;

        $.ajax({
            type: 'POST',
            contentType: 'application/json;charset-utf-08',
            dateType: 'json',
            url: "http://127.0.0.1:5000/auth/show_result?time=" + time
            + "&departure_city=" + departure_city
            + "&departure_airport=" + departure_airport
            + "&destination_city=" + destination_city
            + "&destination_airport=" + destination_airport,
            success: function(response){ document.write(response);}
        });
    }
</script>

</html>

